{% extends "main/base.html" %}

{% block body %}

<div class="about-container">
    <div class="about-content">
        <h2>About</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi euismod.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi euismod.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi euismod.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi euismod.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi euismod.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi euismod.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi euismod.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi euismod.
            Donec euismod, nisl eget consectetur sagittis, nisl nisi
            consectetur nisl, euismod egestas nisl nisi
        </p>
    </div>
    <div class="about-image">
        <img src="https://via.placeholder.com/500/0000FF/808080" alt="placeholder image" />
    </div>

    {% endblock %}