{% extends "main/base.html" %}

{% block body %}

<header>
    <h2>Welcome to Flask Market</h2>
    <p>Feel free to see our products down here</p>
</header>

<div class="hero">
    <h2>Best seler products</h2>
    <div class="hero-galary">
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/150/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/150/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/150/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
    </div>
</div>

<div class="market-galary">
    <div class="market-galary-item">
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/300/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
    </div>
    <div class="market-galary-item">
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/300/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
    </div>
    <div class="market-galary-item">
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/300/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
    </div>
    <div class="market-galary-item">
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/300/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
    </div>
    <div class="market-galary-item">
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/300/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
    </div>
    <div class="market-galary-item">
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/300/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
    </div>
    <div class="market-galary-item">
        <a href="https://www.google.com/">
            <img src="https://via.placeholder.com/300/0000FF/808080?Text=product" alt="placeholder image"
                class="img-galary" />
        </a>
    </div>
</div>

{% endblock %}